
@import "tailwindcss";

@theme{
    --color-primary:#0EA5E9;
    --font-manrope: "Manrope";
    --font-tinos: "Tinos";
    --color-secondaryBackground:#0B0B0B;
    --color-primaryBackground:#0F172A;
    --color-highlights:#FACC15;
    --color-primaryAccent:#0EA5E9;
     --color-secondaryAccent:#F97316;
    --color-atmosphiricAccent: #7C3AED;
    --breakpoint-xs:640px;
}

@layer base{
    body{
        font-family: var(--font-manrope);
        color: white;
        background-color: var(--color-secondaryBackground);
    }
}

@utility row{
    @apply flex items-center;
}

@utility hoverA{
    @apply hover:scale-110 inline-block transition-all duration-300;
}
@utility hoverButton{
    @apply hover:scale-110 inline-block transition-all duration-300 cursor-pointer;
}
@utility hoverImage{
@apply transition-transform duration-600 group-hover:scale-110;}