
@import "tailwindcss";

@theme{
    --color-primary:#0EA5E9;
    --font-manrope: "Manrope";
    --font-tinos: "Tinos";
    --color-secondaryBackground:#0B0B0B;
    --color-primaryBackground:#02091b;
    --color-grayBackground:#141414;
    --color-highlights:#EFC200;
    --color-primaryAccent:#80d1f6;
     --color-secondaryAccent:#F97316;
    --color-atmosphiricAccent: #7C3AED;
    --color-primaryGray: #1e1e1e;
    --color-secondaryGray: #2A2A2A;
    --breakpoint-xs:640px;
}

@layer base{
    body{
        font-family: var(--font-manrope);
        color: #E5E2E1;
        background-color: var(--color-secondaryBackground);
    }
}

@utility row{
    @apply flex items-center;
}
@utility hoverAcolor{
    @apply hover:text-primaryAccent inline-block transition-all duration-300;
}
@utility hoverA{
    @apply hover:scale-110 inline-block transition-all duration-300;
}
@utility hoverButton{
    @apply hover:scale-110 inline-block transition-all duration-300 cursor-pointer;
}
@utility hoverButtonBgGray{
    @apply hover:bg-secondaryGray inline-block transition-all duration-200 cursor-pointer;
}
@utility hoverButtonBgWhite{
    @apply hover:bg-white/35  inline-block transition-all duration-200 cursor-pointer;
}
@utility hoverButtonBorder{
    @apply border-transparent  hover:border-primaryAccent  transition-all duration-300 cursor-pointer;
}
@utility hoverImage{
@apply transition-transform duration-600 group-hover:scale-110;}

@utility hoverDiv{
    @apply hover:bg-secondaryGray  transition-all duration-300 cursor-pointer;}